@charset "utf-8";

/* Default resetting */
html, body, fieldset, legend, dt, dd {
    margin: 0px;
    padding: 0px;
}

html {
    background-size: 
    width: 100%;
    height: 100%;
    font-size: 14px; /* 16 */
    /* font-weight: 600; */
    font-family: Helvetica, Verdana, Arial, sans-serif;
    background: White;
    color: DarkSlateGray;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 25px;
    width: 100%;
    height: 100%;
}

.starter-template {
    padding: 30px 15px;
    text-align: center;
}

